@import url("./layout.css");

.container {
    width: 70vw;
    margin: auto;
    /* margin-top: 10vh; */
    font-family: "Rubik", sans-serif;
    line-height: 2em;
    padding-bottom: 10vh;
    color: #d2d2d2;
}

h2, h1{
    color: var(--dominant);
    margin: 5vh 0 2vh 0;
    background-color: var(--secondary);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
}

strong {
    color: var(--dominant);
    /* text-decoration: underline; */
}

.container ul {
    display: flex;
    flex-direction: column;
}

.container li {
    list-style: none;
}