:root{
    --tertiary: #10002b;
    --dominant: #e0aaff;
    --secondary: #240046;
}

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    /* height: auto; */
    font-family: "Poppins", sans-serif;
    background: var(--tertiary);
    color: white;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    box-sizing: border-box;
    /* position: fixed; */
    /* left: 0; */
    background-color: var(--secondary);
    align-items: center;
    justify-content: space-between;
    padding: 5% 2%;
}

nav .logo {
    font-size: 3em;
    font-weight: 600;
    font-family: 'Concert+One';
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-evenly;
    height: 50%;
    width: 70%;
}

nav ul li {
    /* width: 50%; */
    text-align: left;
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
    /* background-color: red; */
    box-sizing: border-box;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: inherit;
}

nav ul li:hover {
    background-color: var(--tertiary);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: medium;
    margin: 0 10px;
}

nav ul .active {
    color: var(--tertiary);
}

nav .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

nav .auth img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-self: flex-start;
}

nav .auth a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: medium;
    padding: 10px 15px;
    border-radius: 5px;
    align-self: flex-start;
    /* margin: 0 10px; */
}

nav .auth a:hover {
    background-color: var(--tertiary);
}

.main {
    width: 80vw;
    overflow-y: scroll;
}