{% extends "layout.html" %}
{% load static %}

{% block title %}
    Chirp - Contact Us
{% endblock %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you! Whether you have a question about features, feedback, or anything else, our team is ready to answer all your questions.</p>
        
        <form action="your-form-handler-url" method="post">
            <div class="formchild">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <div class="formchild">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="formchild">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="6" required></textarea>
            </div>
            
            <button type="submit">Send Message</button>
        </form>
    </div>

{% endblock %}