{% extends "layout.html" %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}

    <div class="container">

        {% if error %}
            <div class="error">
                <i class="fa-solid fa-triangle-exclamation"></i>
                {{error}}
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <h1>Chirp.</h1>
            <div class="formchild">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="formchild">
                <label for="pass">Password:</label>
                <input type="text" name="password" id="pass">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

{% endblock %}
